
.grandparent{
    background-color: black;
    max-width: 800px;
    height: 600px;
}

.parent {
    width: 400px;
    margin: 0 auto;
    background-color: #eff2f7;
}

.child {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.red {
    position: fixed;
    bottom: 0;
    bottom: 20px;
    background-color: #ff4949;
}

.yellow {
    background-color: #ffc82c;
}

.blue {
    background-color: blue;
}